<form id="login-form">
    <div class="p-grid p-fluid" style="width: 40%;">
        <h3 class="text-center mt-3">Login</h3>
        <div class="p-col-12 p-md-4">
            <div class="p-inputgroup mb-3">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Username">
            </div>
            <div class="p-inputgroup mb-3">
                <span class="p-inputgroup-addon"><i class="pi pi-lock"></i></span>
                <input type="text" pInputText placeholder="Password">
            </div>
            <p-button label="Let's Go"></p-button>
        </div>
    </div>
</form>